VITE_SUPABASE_URL=https://fmywxwlkaiijvcynyxfg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZteXd4d2xrYWlmanZjeW55eGZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAzMTYzNDksImV4cCI6MjA5NTg5MjM0OX0.oDnm4SAN_WjQeg0byPMw45FazkhZEAH8MRLkZeObVks
VITE_CONTACT_FORM_ENDPOINT=
